@{
    ViewBag.Title = "Administration";
}

<h2>Velkommen til RapportFraStedet!</h2>
<p>
    Her kan du administrerer brugere og formularer.
</p>
<h3>Links til Borger</h3>
<ul>
<li><a href="http://mapguide/mapguide/fusion/templates/mapguide/BorgerIndberetning/index.html" target="_blank">BorgerIndberetning</a></li>
<li><a href="http://mapguide/mapguide/fusion/templates/mapguide/Graveplan/index.html" target="_blank">Graveplan</a></li>
</ul>
<h3>Links til Sagsbehandler</h3>
<ul>
<li><a href="http://mapguide/mapguide/fusion/templates/mapguide/BorgerIndberetningSBH/index.html" target="_blank">BorgerIndberetning</a></li>
<li><a href="http://mapguide/mapguide/fusion/templates/mapguide/GraveplanSBH/index.html" target="_blank">Graveplan</a></li>
</ul>