@{
    ViewBag.Title = "Information";
}

<h2>Om Systemet</h2>
<p>
     RapportFraStedet er udviklet af Hvenegaard og Jens Bo Landinspektører A/S.
</p>
<fieldset>
    <legend>Kontakt</legend>
    <div class="editor-label">
        Rune Tvilum
    </div>
    <div class="editor-label">
        21 93 27 03
    </div>
    <div class="editor-label">
        <a href="mailto:rtv@hvenegaard.dk">rtv@hvenegaard.dk</a>
    </div>
</fieldset>
