<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://code.addin.dk/rapportfrastedet/index.html</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>https://ec2-50-112-227-11.us-west-2.compute.amazonaws.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/RapportFraStedet</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RapportFraStedetGlobalConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=AMAZONA-CDDP241;Initial Catalog=RapportFraStedetGlobal;User ID=rune;Password=rutv2327" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost\sqlexpress;Initial Catalog=RapportFraStedetGlobal;User ID=sa;Password=rutv2327" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RapportFraStedetGlobalConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost\sqlexpress;Initial Catalog=RapportFraStedetGlobal;User ID=sa;Password=rutv2327" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="RapportFraStedetLokalConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=AMAZONA-CDDP241;Initial Catalog=RapportFraStedetLokal;User ID=rune;Password=rutv2327" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost\sqlexpress;Initial Catalog=RapportFraStedetLokal;User ID=sa;Password=rutv2327" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RapportFraStedetLokalConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost\sqlexpress;Initial Catalog=RapportFraStedetLokal;User ID=sa;Password=rutv2327" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
          <Object Type="DbFullSql">
            <Source Path="UpdateLokal.sql" Transacted="False" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="4" Enabled="False">
          <Destination Path="Data Source=AMAZONA-CDDP241;Initial Catalog=DatabaseForms;User ID=rune;Password=rutv2327" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost\sqlexpress;Initial Catalog=DatabaseForms;User ID=sa;Password=rutv2327" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost\sqlexpress;Initial Catalog=DatabaseForms;User ID=sa;Password=rutv2327" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DatabaseFormsEntities" Order="5" Enabled="False">
          <Destination Path="Data Source=AMAZONA-CDDP241;Initial Catalog=DatabaseForms;User ID=rune;Password=rutv2327;Application Name=EntityFramework" Name="data source=AMAZONA-CDDP241;initial catalog=DatabaseForms;user id=rune;password=rutv2327;MultipleActiveResultSets=True;App=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RapportFraStedet.Models.DatabaseFormsEntities, RapportFraStedet" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DatabaseFormsEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ModelForms.csdl|res://*/Models.ModelForms.ssdl|res://*/Models.ModelForms.msl;provider=System.Data.SqlClient;provider connection string="data source=AMAZONA-CDDP241;initial catalog=DatabaseForms;user id=rune;password=rutv2327;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=AMAZONA-CDDP241;Initial Catalog=DatabaseForms;User ID=rune;Password=rutv2327</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RapportFraStedetGlobalConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=AMAZONA-CDDP241;Initial Catalog=RapportFraStedetGlobal;User ID=rune;Password=rutv2327</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RapportFraStedetLokalConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=AMAZONA-CDDP241;Initial Catalog=RapportFraStedetLokal;User ID=rune;Password=rutv2327</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>